body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavLink {
  color: #1976d2;
  text-decoration-color: rgba(25, 118, 210, 0.4);
}
.NavLink:hover {
  text-decoration-color: #1976d2;
}
